#
# Sample config file for Vatsinator's Buildbot
# Rename it to config.ini and modify values below according to your needs
#

[Repository]

# Vatsinator repository location
vatsinator = /path/to/repo

# Author of the commits
author_name = Vatsinator Buildbot
author_email = buildbot@vatsinator.eu.org


[Translations]

# Branch to work with translations
txbranch = develop
