#
# Sample config file for Vatsinator's Buildbot
# Rename it to config.ini and modify values below according to your needs
#

[Repository]

# Vatsinator repository location
vatsinator = /path/to/repo


[Translations]

# Branch to work with translations
txbranch = develop

# Command that will be called in order to regenerate source translation files
txgencmd = lupdate -recursive %REPO%/source/ -no-obsolete
